<!DOCTYPE HTML>
<html>
  <head>
    {% include common-head.html %}
    {% block head %}
  </head>
  <body>
    <center>
      {% block body %}
      <hr/>
      <a href="/silssig">Home (link on every page)</a>
    <center>
  </body>
</html>
