{% extends base.html %}
{% block head %}
<title>Silssig</title>
{% endblock %}
{% block body %}
<h1>Silssig</h1>
<a href="/silssig/about">About</a><br/>
<a href="/silssig/sub-site">Sub site</a>
{% endblock %}
