
body {
  font-family: sans-serif;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  background-color: #ebfdf3;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

a:visited {
  background-color: #ebfdf3;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
}

